/* Scroll Up button */
.scrollUp {
  color: #7f0000;
  border: 1px solid #7f0000;
  padding: 3px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.scrollUp:hover {
  background-color: rgba(127, 0, 0, 0.6);
  border: 1px solid white;
  color: white;
}
