.contact img {
  width: 50px;
}

.contact {
  width: 40%;
}

.contact h3 {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.contact a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact p {
  transition: all 0.2s ease;
}

.contact a:hover p {
  color: #db5353;
}

.contact img {
  margin-right: 15px;
}

/*__________________________*/
/* MEDIA QUERIES */
/*__________________________*/

@media (max-width: 1145px) {
  .contact {
    margin-top: 200px;
    width: max-content;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .contact img {
    width: 50px;
  }

  .contact {
    width: 100%;
  }

  .contact p {
    font-size: 12px;
  }
}
