/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */
.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  color: white;
  padding: 20px 40px;
  border-bottom: 1px solid #606060;
}

.header div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  animation: opacity 3s ease;
}

.header div:first-child span:first-child {
  background-color: #7f0000;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 50px;
}

.header div:first-child span:last-child {
  font-weight: 700;
  font-size: 20px;
}

/* button */
.header div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  animation: opacity 3s ease;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header div:nth-child(2) p {
  font-size: 13px;
}

.header button,
.menu-bars button {
  color: #3ea7ff;
  border: 1px solid #3ea7ff;
  background-color: inherit;
  padding: 10px;
  transition: all 0.2s ease;
}

.header button:hover,
.menu-bars button:hover {
  cursor: pointer;
  color: white;
  background-color: #3ea7ff;
  border: 1px solid white;
}

.menu-bars-icon {
  visibility: hidden;
  position: absolute;
  font-size: 25px;
  padding: 6px;
  right: 15px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

/*__________________________*/
/* MEDIA QUERIES */
/*__________________________*/

@media (max-width: 1180px) {
  .header div:first-child {
    justify-content: flex-start;
  }
}

@media (max-width: 1015px) {
  .header div:nth-child(2) button {
    display: none;
  }

  .menu-bars-icon {
    visibility: visible;
  }
}

@media (max-width: 680px) {
  .header {
    justify-content: center;
  }
  .header div:first-child {
    flex-direction: column;
  }

  .header div:first-child span:last-child {
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 568px) {
  .header {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 350px) {
  .menu-bars-icon {
    right: 10px;
  }
}

@media (max-width: 320px) {
  .header div:first-child span:last-child {
    font-size: 14px;
  }
}
