/* ------------------------------------ */
/* SIDEBAR */
/* ------------------------------------ */
.sidebar {
  display: flex;
  /* box-sizing: border-box; */
  min-width: 220px;
  flex-direction: row;
  background-color: #212121;
  color: white;
}

.sidebar a {
  padding: 13px;
  transition: background-color 0.2s ease;
  display: flex;
  animation: opacity 4s ease;
}

.sidebar a:hover {
  background-color: #606060;
}

@media (max-width: 1150px) {
  .sidebar {
    display: none;
  }
}
