/* FOOTER */
.footer {
  color: white;
  padding: 20px 0;
  min-width: 100%;
  background-color: #212121;
  border-top: 1px solid #606060;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}
