/* Other rules */

/* header / sidebar background : #212121 */
/* pages background : #181818 */

/* ------------------------------------ */
/* APP */
/* ------------------------------------ */
.app {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.go-to-app-icon,
.fontawesome-icon {
  display: block;
  min-width: 20px;
  margin-right: 10px;
}

/* ------------------------------------ */
/* PAGES */
/* ------------------------------------ */
.pages {
  flex: 1;
  color: white;
  background-color: #181818;
  padding: 20px;
  padding-top: 98px;
  padding-left: 240px;
}

/* ---- */

/*__________________________*/
/* MEDIA QUERIES */
/*__________________________*/

@media (max-width: 1015px) {
  .pages {
    padding-left: 20px;
  }
}

@media (max-width: 680px) {
  .pages {
    padding-top: 118px;
  }
}

@media (max-width: 568px) {
  .pages {
    width: 100%;
  }
}
