/* Other rules */

/* header / sidebar background : #212121 */
/* pages background : #181818 */

/* APP */
.app {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/* LOGIN */
.login {
  min-height: 100vh;
  color: white;
  background-color: #181818;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  color: white;
  padding: 20px 40px;
  border-bottom: 1px solid #606060;
}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.header div:first-child span:first-child {
  background-color: #ff0200;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 50px;
}

.header div:first-child span:last-child {
  font-weight: 700;
  font-size: 20px;
}

.header button {
  color: #3ea7ff;
  border: 1px solid #3ea7ff;
  background-color: inherit;
  padding: 10px;
}

.header button:hover {
  cursor: pointer;
}

/* MAIN CONTENT */
.main-content {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  width: 15%;
  flex-direction: column;
  background-color: #212121;
  color: white;
  min-height: 100vh;
}

.sidebar a {
  padding: 13px;
  transition: background-color 0.2s ease;
}

.sidebar a:hover {
  background-color: #606060;
}

/* PAGES */
.pages {
  flex: 1;
  color: white;
  background-color: #181818;
  padding: 20px;
}

/* PROJECTS */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-link {
  width: 23%;
  transition: transform 0.2s ease;
}

.project-link:hover {
  transform: scale(1.1);
}

.project-link h2 {
  text-align: center;
  padding: 7px;
}

.project-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.projects hr {
  margin: 50px 0 20px 0;
  border-color: #878787;
}

.projects h1 {
  text-transform: uppercase;
  font-style: oblique;
  color: #878787;
}

/* PROJECT */

.project button {
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #8c8c8c;
  transition: background-color 0.2s ease;
}

.project button:hover {
  cursor: pointer;
  background-color: #606060;
  color: white;
}

.project > div {
  margin-top: 30px;
}
