.stack > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.stack > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.stack img {
  width: 90px;
  margin-bottom: 7px;
}
